.container{
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .container h1{
    color: var(--white);
    margin-left: 60px;
    margin-bottom: 10px;
  }

  .form{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  
  .input{
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    color: var(--white);
    background-color: var(--dark-900);
    border:1px solid var(--gray-100);
    height: 40px;
    padding: 0 0.5rem;
    width: 150px;
  }
  
  .buttonAdd {
    border-radius: 0.3rem;
    height: 40px;
    border: 0;
    background-color: var(--green-900);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-700);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 1rem;
    width: 300px;
    margin-left: 20px;
  }

  .inputGroup {
    display: flex;
    gap: 1rem; /* Espaçamento entre os campos */
    align-items: center; /* Centralizar verticalmente os elementos */
    width: 100%; /* Ocupar todo o espaço disponível */
    
    strong{
        color: var(--white);
    }
  }

  .containerLabel {
    display: flex;
    align-items: center;
  }

  .h3Home{
    color: var(--white);
    margin-left: 20px;
  }

  .h3Away{
    color: var(--white);
    margin-left: 100px;
  }