
.container{
  width: 620px;
  background-color: var(--dark-700);
  color: var(--white);
}

.container h2{
  margin: 1rem 0;
}

.containerItem {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.2rem; 

  svg {
    margin-right: 8px; 
  }

  strong{
    color: var(--green-900)
  }
  .playerNameContainer {
    display: flex; /* Adiciona flex para alinhar os ícones e o texto do jogador */
    align-items: center; /* Alinha verticalmente os ícones e o texto do jogador */
  }

}

.description{
  margin-top: 0.5rem;
  word-break: break-all;
}

.buttonOrder{
  margin-top: 1.5rem;
  background-color: rgba(0,0,0, 40%);  
  border:0;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  color: var(--red-900)
}

.table{
  font-size: 1.4rem;
  color: var(--green-900);
}

@media screen and (max-width: 700px) {
    .container{
      width: 430px;
    }
}

@media screen and (max-width: 550px) {
    .container{
      width: 330px;
    }
}