.container {
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    width: calc(100% - 20px);
    height: 50vh;
    background-color: #fff;
    border-width: 1px;
    border-color: #8a8a8a;
    border-radius: 4px;
    overflow: auto;
  }
  
  .option {
    align-items: flex-start;
    border-top-width: 0.8px;
    border-top-color: #8a8a8a;
    cursor: pointer;
    padding: 18px;
  }
  
  .item {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #101026;
  }
  